.contactContainer {
    overflow-y: auto;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

.page-container {
    /* background-color: #808080; */
}

.formMargin {
    width: 70%;
    margin: 0 auto;
    margin-top: 10vw;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    padding-bottom: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #008eff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
}

input[type=submit] {
    width: 15%;
    background-color: black;
    color: #008eff;
    padding: 14px 20px;
    margin: 14px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
}

.msg {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.textArea {
    width: 100%;
    border-color: #008eff;
    font-size: 30px;
}

.nameText, .emailText, .messageText {
    margin: 0;
    font-size: 40px;
}


/* WIDE SCREENS */
@media only screen and (min-width: 765px) {
    .contactContainer {
        overflow: scroll;
        margin: 0;
        font-family: 'Rajdhani', sans-serif;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        padding-bottom: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #008eff;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 30px;
    }

    input[type=submit] {
        width: 15%;
        background-color: black;
        color: #008eff;
        padding: 14px 20px;
        margin: 14px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: white;
    }

    .msg {
        font-size: 18px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .textArea {
        width: 100%;
        border-color: #008eff;
        font-size: 30px;
    }

    .nameText, .emailText, .messageText {
        margin: 0;
        font-size: 40px;
    }

}

/* WIDE SCREENS */
@media only screen and (max-width: 764px) {
    .contactContainer {
        overflow: scroll;
        margin: 0;
        font-family: 'Rajdhani', sans-serif;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        padding-bottom: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #008eff;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 20px;
    }

    input[type=submit] {
        width: 100%;
        background-color: black;
        color: #008eff;
        padding: 14px 20px;
        margin: 14px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: white;
        
    }

    .msg {
        font-size: 18px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .textArea {
        width: 100%;
        border-color: #008eff;
        font-size: 20px;
    }

    .nameText, .emailText, .messageText {
        margin: 0;
        font-size: 30px;
    }

}