/* WIDER SCREENS */
@media only screen and (min-width: 1550px) {
    .projectsContainer {
        background-image: url("./background.jpg");
        margin: 0;
        overflow-y: auto;
    }

    .caption {
        position: absolute;
        margin: 0 auto 0 auto;
        bottom: 25px;
        background-color: #6A2C3E;
        color: white;
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        opacity: 0.85;
        /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }

    .icon1 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 300px;
        width: 500px;
        background-image: url(./images/burger.jpeg);
        background-position: center;
        background-size: 100%;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        font-size: 20px;

    }

    .icon2 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 300px;
        width: 500px;
        background-image: url(./images/altitude.jpg);
        background-position: center;
        background-size: 100%;
        font-family: 'Lobster', cursive;
        /* font-family: 'Press Start 2P', cursive; */
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 1000px;
    }

    .icon3 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 300px;
        width: 500px;
        background-image: url(./images/sharkLogo.png);
        /* https://media.giphy.com/media/BHNfhgU63qrks/source.gif) */
        /* background-image: url(../images/img3.jpg); */
        background-position: center;
        background-size: 100%;
        font-size: 25px;
        font-family: 'Baloo Chettan', cursive;
    }


    .icon4 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 300px;
        width: 500px;
        background-image: url(./images/supperclub.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 20px;
        font-family: 'Acme', sans-serif;
    }


    .icon5 {
        position: relative;
        margin: 0 auto 0 auto; 
        margin-top: 20px;
        margin-bottom: 20px;
        height: 250px;
        width: 400px;
        background-image: url(./images/img11.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 30px;
        font-family: 'Shadows Into Light', cursive;
    }
}


/* WIDE SCREENS */
@media only screen and (min-width: 1225px) and (max-width: 1549px) {
    .projectsContainer {
        background-image: url("./background.jpg");
        margin: 0;
        overflow-y: auto;
    }

    .caption {
        position: absolute;
        margin: 0 auto 0 auto;
        bottom: 25px;
        background-color: #6A2C3E;
        color: white;
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        opacity: 0.85;
        /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }

    .icon1 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 250px;
        width: 400px;
        background-image: url(./images/burger.jpeg);
        background-position: center;
        background-size: 100%;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        font-size: 20px;

    }

    .icon2 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 250px;
        width: 400px;
        background-image: url(./images/altitude.jpg);
        background-position: center;
        background-size: 100%;
        font-family: 'Lobster', cursive;
        /* font-family: 'Press Start 2P', cursive; */
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 1000px;
    }

    .icon3 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 250px;
        width: 400px;
        background-image: url(./images/sharkLogo.png);
        /* background-image: url(../images/img3.jpg); */
        background-position: center;
        background-size: 100%;
        font-size: 25px;
        font-family: 'Baloo Chettan', cursive;
    }


    .icon4 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 250px;
        width: 400px;
        background-image: url(./images/supperclub.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 20px;
        font-family: 'Acme', sans-serif;
    }


    .icon5 {
        position: relative;
        margin: 0 auto 0 auto; 
        margin-top: 20px;
        margin-bottom: 20px;
        height: 250px;
        width: 400px;
        background-image: url(./images/img11.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 30px;
        font-family: 'Shadows Into Light', cursive;
    }
}

/* LARGE SCREENS */
@media only screen and (min-width: 1025px) and (max-width: 1224px) {
    .projectsContainer {
        background-image: url("./background.jpg");
        margin: 0;
        overflow-y: auto;
    }

    .caption {
        position: absolute;
        margin: 0 auto 0 auto;
        bottom: 25px;
        background-color: #6A2C3E;
        color: white;
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        opacity: 0.85;
        /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }

    .icon1 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 200px;
        width: 300px;
        background-image: url(./images/burger.jpeg);
        background-position: center;
        background-size: 100%;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        font-size: 20px;

    }

    .icon2 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 200px;
        width: 300px;
        background-image: url(./images/altitude.jpg);
        background-position: center;
        background-size: 100%;
        font-family: 'Lobster', cursive;
        /* font-family: 'Press Start 2P', cursive; */
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 1000px;
    }

    .icon3 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 300px;
        background-image: url(./images/sharkLogo.png);
        /* background-image: url(../images/img3.jpg); */
        background-position: center;
        background-size: 100%;
        font-size: 25px;
        font-family: 'Baloo Chettan', cursive;
    }


    .icon4 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 300px;
        background-image: url(./images/supperclub.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 20px;
        font-family: 'Acme', sans-serif;
    }


    .icon5 {
        position: relative;
        margin: 0 auto 0 auto; 
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 300px;
        background-image: url(./images/img11.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 30px;
        font-family: 'Shadows Into Light', cursive;
    }
}

/* MEDIUM SCREENS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .projectsContainer {
        background-image: url("./background.jpg");
        margin: 0;
        overflow-y: auto;
    }

    .caption {
        position: absolute;
        margin: 0 auto 0 auto;
        bottom: 25px;
        background-color: #6A2C3E;
        color: white;
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        opacity: 0.85;
        /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }

    .icon1 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 150px;
        width: 250px;
        background-image: url(./images/burger.jpeg);
        background-position: center;
        background-size: 100%;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        font-size: 20px;

    }

    .icon2 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 150px;
        width: 250px;
        background-image: url(./images/altitude.jpg);
        background-position: center;
        background-size: 100%;
        font-family: 'Lobster', cursive;
        /* font-family: 'Press Start 2P', cursive; */
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 1000px;
    }

    .icon3 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 150px;
        width: 250px;
        background-image: url(./images/sharkLogo.png);
        /* background-image: url(../images/img3.jpg); */
        background-position: center;
        background-size: 100%;
        font-size: 25px;
        font-family: 'Baloo Chettan', cursive;
    }


    .icon4 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 150px;
        width: 250px;
        background-image: url(./images/supperclub.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 20px;
        font-family: 'Acme', sans-serif;
    }


    .icon5 {
        position: relative;
        margin: 0 auto 0 auto; 
        margin-top: 20px;
        margin-bottom: 20px;
        height: 150px;
        width: 250px;
        background-image: url(./images/img11.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 30px;
        font-family: 'Shadows Into Light', cursive;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }
}

/* SMALL SCREENS */
@media only screen and (min-width: 481px) and (max-width: 765px) {
    .projectsContainer {
        background-image: url("./background.jpg");
        margin: 0;
        overflow-y: auto;
    }

    .caption {
        position: absolute;
        margin: 0 auto 0 auto;
        bottom: 25px;
        background-color: #6A2C3E;
        color: white;
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        opacity: 0.85;
        /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }

    .icon1 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/burger.jpeg);
        background-position: center;
        background-size: 100%;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        font-size: 20px;

    }

    .icon2 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/altitude.jpg);
        background-position: center;
        background-size: 100%;
        font-family: 'Lobster', cursive;
        /* font-family: 'Press Start 2P', cursive; */
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 1000px;
    }

    .icon3 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/sharkLogo.png);
        /* background-image: url(../images/img3.jpg); */
        background-position: center;
        background-size: 50%;
        background-repeat: repeat-y;
        font-size: 25px;
        font-family: 'Baloo Chettan', cursive;
    }


    .icon4 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/supperclub.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 20px;
        font-family: 'Acme', sans-serif;
    }


    .icon5 {
        position: relative;
        margin: 0 auto 0 auto; 
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/img11.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 30px;
        font-family: 'Shadows Into Light', cursive;
    }
}

/* SMALLER SCREENS */
@media only screen and (max-width: 480px) {
    .projectsContainer {
        background-image: url("./background.jpg");
        margin: 0;
        overflow-y: auto;
    }

    .caption {
        position: absolute;
        margin: 0 auto 0 auto;
        bottom: 25px;
        background-color: #6A2C3E;
        color: white;
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        opacity: 0.85;
        /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .caption:hover {
        background-color: #6A2C3E;
        color: #CF4520;
        opacity: 0.85;
        text-decoration: none;
    }

    .icon1 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/burger.jpeg);
        background-position: center;
        background-size: 100%;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        font-size: 20px;

    }

    .icon2 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/altitude.jpg);
        background-position: center;
        background-size: 100%;
        font-family: 'Lobster', cursive;
        /* font-family: 'Press Start 2P', cursive; */
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 1000px;
    }

    .icon3 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/sharkLogo.png);
        /* background-image: url(../images/img3.jpg); */
        background-position: center;
        background-size: 50%;
        background-repeat: repeat-y;
        font-size: 25px;
        font-family: 'Baloo Chettan', cursive;
    }


    .icon4 {
        position: relative;
        margin: 0 auto 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/supperclub.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 20px;
        font-family: 'Acme', sans-serif;
    }


    .icon5 {
        position: relative;
        margin: 0 auto 0 auto; 
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        background-image: url(./images/img11.jpg);
        background-position: center;
        background-size: 100%;
        font-size: 30px;
        font-family: 'Shadows Into Light', cursive;
    }
}